* {
    box-sizing: border-box;
}


body {
    background-color: #0d1117;

}


.avatar {
    height: 300px;
    width: 300px;
    border-radius: 50% !important;
}

#bio-box{
    padding:16px;
    border:2px;
    border-color: rgb(207, 207, 207);
    border-style: solid;
    width:300px;
    margin:10px;
    translate: translateY(1px);
}

.navigator-bar{
    display: flex;
    justify-content:center;
    gap:50px;
    transform: translateY(40px);
}

.titles{
    font: weight 600px;
    color: rgb(225, 135, 255);
}

.regular-text{
    color: aliceblue;

}

.image-filter{
    filter:grayscale()
}

#theme-switcher{
    padding-left: 45px;

}


.anki-stats-box{
    position: absolute;
    left:30%;
    height:400px;
    width:600px;
    top:10%;
    outline:auto;
    padding:20px;
}

.statistics{
    display:flex;
    gap:40px;
    justify-content:center;
    padding-top:8px;
    
}

.header-picture{
    height:300px;
    width:560px;
}

.label{
    display:inline;
}

.value{
    display:none;
}

.statistics:hover .value{
    display: inline;
}


.hover-tip{
    position:relative;
    left:45%;
    margin-top:70px;
}

.stat-colour{
    color:rgb(78, 182, 54);
}

.outline{
    position:absolute;
    outline:auto;
}


.text-shadow{
    text-shadow: 2px 2px #484b6a;
}